<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="a.properties"/>

    <bean id="horse"
          class="com.erlan.anymal.Horse">
        <property name="breed" value="${horse.breed}"/>
        <property name="color" value="${horse.color}"/>
    </bean>

    <bean id="eagle"
          class="com.erlan.anymal.Eagle">
        <property name="breed" value="${eagle.breed}"/>
        <property name="name" value="${eagle.name}"/>
        <property name="color" value="${eagle.color}"/>
    </bean>
    <bean id="person1"
          class="com.erlan.Person">
        <property name="name" value="${person1.name}"/>
        <property name="age" value="${person1.age}"/>
        <property name="anymal" ref="eagle"/>
    </bean>

    <bean id="person2"
          class="com.erlan.Person">
        <property name="name" value="${person2.name}"/>
        <property name="age" value="${person2.age}"/>
        <property name="anymal" ref="horse"/>
    </bean>

</beans>